<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>João Paulo</title>
    {% endblock %}

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <div class="links">
            <a href="/portfolio">Portfolio</a>
            <a href="/">Sobre</a>
        </div>
    </header>

    {% block content %}{% endblock %}

</body>
</html>